{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet"  href="{%  static  'css/artwork.css'  %}">
        <title>Art Works</title>
    </head>
    <body>
          <div class="topnav">
            <a href="home">Home</a>
            <a class="active" href="artwork">Art Works</a>
            <a href='portrait'>Portraits</a>
            <a href='pricing'>Pricing </a>
            <a href='contact'>Contact</a>
            <a href="about">About</a>
        </div>

        <div class="row">
            <div class="column">
              <img src="media/arts/homeimage.jpeg" alt="Snow" style="width:100%; height:400px">
            </div>
            <div class="column">
              <img src="media/arts/art1.jpeg" alt="Forest" style="width:100%; height:400px">
            </div>
            <div class="column">
              <img src="media/arts/art2.jpeg" alt="Mountains" style="width:100%; height:400px">
            </div>
          </div> 

          <div class="row">
            <div class="column">
              <img src="media/arts/art3.jpeg" alt="Snow" style="width:100%; height:400px">
            </div>
            <div class="column">
              <img src="media/arts/art4.jpeg" alt="Forest" style="width:100%; height:400px">
            </div>
            <div class="column">
              <img src="media/arts/art5.jpeg" alt="Mountains" style="width:100%; height:400px">
            </div>
          </div>

          <div class="row">
            <div class="column">
              <img src="media/arts/art6.jpeg" alt="Snow" style="width:100%; height:400px">
            </div>
            <div class="column">
              <img src="media/arts/art7.jpeg" alt="Forest" style="width:100%; height:400px">
            </div>
            <div class="column">
              <img src="media/arts/art7.jpeg" alt="Mountains" style="width:100%; height:400px">
            </div>
          </div>

          <div class="row">
            <div class="column">
              <img src="media/arts/art7.jpeg" alt="Snow" style="width:100%; height:400px">
            </div>
            <div class="column">
              <img src="media/arts/art7.jpeg" alt="Forest" style="width:100%; height:400px">
            </div>
            <div class="column">
              <img src="media/arts/art7.jpeg" alt="Mountains" style="width:100%; height:400px">
            </div>
          </div>
    </body>
</html>