{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet"  href="{%  static  'css/homepage.css'  %}">
        <title>Art Gallery</title>
    </head>
    <body>
        <h1 class="heading" >WELCOME TO ART GALLERY BY RITA</h1>
        <div class="topnav">
            <a class="active" href="#home">Home</a>
            <a href="artwork">Art Works</a>
            <a href='#'>Portraits</a>
            <a href='pricing'>Pricing </a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
        </div> 
        <img src="media/homeimage.jpeg" alt="Sample artwork" class="center"> 



    </body>
</html>