{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet"  href="{%  static  'css/payment.css'  %}">
        <link rel = "icon" type = "image/png" href = "media/rita_logo.png">
        <title>Payment</title>
    </head>
    <body>
          <div class="topnav">
            <a href="home">Home</a>
            <a href="artwork">Art Works</a>
            <a href='portrait'>Portraits</a>
            <a class="active" href='pricing'>Pricing </a>
            <a href='contact'>Contact</a>
            <a href="about">About</a>
        </div>
    <h3>NOTE: Automatic Payment Gateway is under construction. Meanwhile you can pay by scanning this QR Code and send the payment screenshot and the image to be drawn or portrait to be made on the instagram handle given on contact us section.</h1>
    <br>
    <h3 style="text-align: center; color:red">Sorry for Inconvenience !!!</h2>
    <img src="media/payment_qr.jpeg" alt="Payment QR" class="center" style="width:400px; height:400px">
    <figcaption class="center">UPI Payment QR Code </figcaption>
    </body>
</html>